# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.sqlite3

# Environments
.env
venv/
env/
ENV/
.venv/
.Python

# VSCode
.vscode/

# Mac
.DS_Store

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

# Logs
*.log

# Static files
staticfiles/
static/
media/